.fondoAzul{
    background: lightblue;
}
.fondoVerde{
    background: lightgreen;
}
.letraGrande{
    font-size: 40px;
}
.letraSub{
    text-decoration: underline;
}
.activado{
    font-weight: bold;
    background: yellow;
}